.App {
  text-align: left;

  text-transform: uppercase;
}

.App-link {
  color: green;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  color: white;
  font-size: calc(10px + 2vmin);
}
ul{
  list-style-type: none;
}

img{
  width: 200px;
  height: 200px;
  border-radius: 5%;
}

p{
  color: rgb(10, 0, 0);
  font-size: 20px;
  font-weight: 100;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

.frame{
  background-color: rgb(9, 116, 9);
  border-radius: 2%;
  width: 350px;
  height: 500px;
  margin: 10px;
  
}
section{
   display: flex;
  justify-content: center;
}
